<div class="header">
    <div class="left-content">
        <button (click)="toggleSideBar()">|||</button>
    </div>
    <div class="right-content">
        <div class="infos">
            <div>Teste Testando</div>
            <div>Testador</div>
        </div>
        <div class="perfil-picture">
            <img class="perfil-img" src="https://media.licdn.com/dms/image/D4D03AQHgjBbOGLsCig/profile-displayphoto-shrink_200_200/0/1678555371145?e=1721865600&v=beta&t=Wb1abzckow8bZLkMjur90Akp6XH_-OomIdD5xYtWbfc" />
        </div>
    </div>
</div>