.header{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    .left-content{
        padding-left: 7px;
    }

    .right-content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 7px;
        gap: 0.6rem;

        .infos{
            display: flex;
            flex-direction: column;

        }

        .perfil-picture{
            display: flex;
            justify-content: center;
            align-items: center;
            
            .perfil-img{
                width: 60px;
                height: 60px;
                padding: 3px;

                border: 3.5px solid green;
                border-radius: 50%;
            }
        }
    }
}