<div class="side-bar-content" [ngStyle]="{'width': isOpen ? '350px' : '0px'}">
    <div class="top-side-bar">
        <p></p>
        <h3>Titulo da Side Bar</h3>
        <button (click)="toggleSideBar()">|||</button>
    </div>
    <div class="middle-side-bar">
        <div class="div-link" (click)="changePage('home')">Home</div>
        <div class="div-link" (click)="changePage('users')">Usuários</div>
    </div>
    <div class="bottom-side-bar">
        <div class="div-new-link">Tema</div>
        <div class="div-new-link" (click)="logout()">Logout</div>
        <div class="div-new-link">Configurações</div>
    </div>
</div>
<div class="shadow-div" (click)="toggleSideBar()" [ngStyle]="{'display': isOpen ? 'inline' : 'none', 'opacity': isOpen ? '1': '0'}"></div>
