<div class="sign-in-content">
    <div class="left-content">
        Imagem
    </div>
    <div class="right-content">
        <div class="title-content">
            <h2>CashBack</h2>
        </div>
        <form>
            <div class="input-content">
                <label>Usuário</label>
                <input placeholder="Usuário" />
            </div>
            <div class="input-content">
                <label>Senha</label>
                <input placeholder="Senha" />
            </div>
            <div class="button-content">
                <button>Entrar</button>
            </div>
        </form>
    </div>
</div>