.sign-in-content{
    display: flex;
    height: 100vh;

    @keyframes pulse {
        0%{
            scale: 1;
        }
        50%{
            scale: 1.02;
        }
        100%{
            scale: 1;
        }
    }

    .left-content{
        // background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        
        .login-image{
            border-radius: 15px;
            width: 80%;
            animation: pulse infinite 5s;
        }
    }

    .right-content{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        border-radius: 3px;

        width: 32vw;
        padding: 10px;
        box-sizing: border-box;
        background-color: #E6E6E6;
        
        *{
            font-size: 1.1em;
        }

        .title-content{
            // background-color: yellow;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            h1{
                font-size: 2.2em;
                margin-bottom: 8px;
                color: #053;
                text-transform: uppercase;
            }
            h2{
                font-size: 1.3em;
            }
        }

        form{
            width: 75%;

            .input-content{
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
                
                input{
                    padding: 10px;
                    border-radius: 5px;
                    border: groove black 0.7px;
                    // border-style: none;
                    outline: none;
                }
            }

            .forget-password{
                display: flex;
                justify-content: end;
                font-size: 1em;
            }

            .button-content{
                margin-top: 20px;

                button{
                    width: 100%;
                    height: 40px;
                    padding: 5px;
                    border-radius: 5px;
                    border-style: none;
                    transition: all ease 0.5s;
                    background-color: #053;
                    color: white;

                    &:hover{
                        cursor: pointer;
                        opacity: 0.83;
                    }
                }
            }
        }

        .create-content{
            margin-top: 20px;
            width: 75%;
            border-top: solid #053 2px;
            padding-top: 15px;

            button{
                width: 100%;
                height: 40px;
                padding: 5px;
                border-radius: 5px;
                border-style: none;
                transition: all ease 0.5s;
                background-color: #053;
                color: white;

                &:hover{
                    cursor: pointer;
                    opacity: 0.83;
                }
            }
        }
    }
}